/* BODY */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #29323d;
}

.logo {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    font-size: 20px;
}

.orange {
    color: #fda042;
}

.dark-orange {
    color: #f27e0a;
}

.bold {
    font-weight: 600;
}

.bolder{
    font-weight: 700;
}

/* NAV BAR */

/* Nav colours */
.navbar-custom {
    background-color: #2e1473;
    color: #ffffff;
    font-size: 20px;
}

.nav-item.dropdown:hover 
.dropdown-menu {
    background-color: #2e1473;
}

a.dropdown-item:hover {
    color: #2e1473; 
    background-color: #fda042; /
}

h5, h6{
    font-weight: 600;
}

/* BUTTONS */

/* Main buttons */
.btn-outline-primary {
    border-color: #f27e0a;
    color: #29323d;
}

/* Main buttons disabled */
.btn.btn-outline-primary:disabled{
    background-color: lightgray;
    color: #29323d;
    border-color: #f27e0a;
}

/* Main buttons hover and active */
.btn.btn-outline-primary:hover,
.btn.btn-outline-primary:active{
    background-color: #fda042;
    border-color: #f27e0a;
    color: #29323d;
}

/* Sign up button */
.btn-primary {
    border-color: #f27e0a;
    background-color: white;
    color: #29323d;
}

/* Sign up button hover and active */
.btn.btn-primary:hover,
.btn.btn-primary:active{
    background-color: #2e1473;
    border-color: white;
    color: white;
}

/* HERO */

.bg-light {
    background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.2)), url('../CFG-webdev/images/header01.jpg');
    background-size: cover;
    background-position: center center;
}

#hero .container {
    height: 600px;
}

/* INTRO SECTION */

.intro {
    background-color: #ffffff;
    height: 300px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ff6624 ;
}

.intro-webdev {
    background-color: #ffffff;
    height: 400px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ff6624 ;
}

/* COURSES SECTION */

.courses {
    background-color: #ffffff;
    height: 200px;
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
    display: flex;
    align-items: center;
}

.course-cards {
    background-color: #ffffff;
    height: 850px;
    text-align: center;
    padding-top: 0px;
    display: flex;
    align-items: center;
}

.card-body {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}

.card-text {
    min-height: 110px;
    max-height: 350px;
}

/* MODULE SECTION */

.modules {
    background-color: #ffffff;
    height: 200px;
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
    display: flex;
    align-items: center;
}

.module-cards {
    background-color: #ffffff;
    height: 800px;
    text-align: center;
    padding-top: 0px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px #ff6624;
}

.module-text {
    min-height: 80px;
    max-height: 200px;
}

/* FAQ SECTION */

.faq-section {
    height: 400px;
    background-color: #fda042;
    color: white;
    padding-top: 60px;
    padding-bottom: 30px;
}

.accordion-item {
    background-color: white;
    color: #29323d;
    border-color: white;
}

.accordion-button {
    background-color: #fda042;
    color: white;
    border-color: #ff6624;
}

.accordion-button:active, .accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background-color: #fda042;
    color: white;
    border-color: #ff6624;
}
  

/* TESTIMONIAL SECTION */

.job-title {
    font-weight: 100;
}

.feedback {
    font-style: italic;
}

.testimonial-image {
    border-radius: 50%;
    width:100px;
    height:100px;
    object-fit: cover;
    margin: 20px;
  }

/* Main testimonial carousel container */
.testimonial-carousel-container {
    min-height: 450px;
    background-color: white;
    border-top: 1px solid #ff6624;
    padding-top: 60px;
    padding-bottom: 30px;
}

/* Testimonial carousel inner container */
.testimonial-carousel-inner {
    text-align: center;
    height: 400px;
    padding-top: 20px;
}

/* Testimonial text container */
.testimonial-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    margin-top: 60px;
}

/* Carousel indicator buttons */
.carousel-indicators [data-bs-target="#testimonial-carousel"] {
    border: 0px;
    width: 30px;
    height: 3px;
    background-color: orange;
}

/* REGISTER SECTION */

.bg-dark{
    background-color: #fda042; 
}

/* Email address form input */
.form-control{
    border-color: #f27e0a;
    color: #29323d;
}

.form-control:focus{
    border-color:#f27e0a;
    box-shadow: none;
}

/* TRUE FALSE SECTION */

/* Main carousel container */
.carousel-container {
    min-height: 480px;
    background-color: white;
    border-top: 1px solid #ff6624;
    padding-top: 60px;
    padding-bottom: 30px;
}

/* Carousel inner container */
.carousel-inner {
    text-align: center;
    height: 290px;
    padding-top: 20px;
}

/* True false question container */
.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

/* True false button container */
.button-container {
    height: 40px;
    margin-top: 10px;
}

/* Score text container */
.score-container {
    height: 25px;
    margin-top: 15px;
}

/* Carousel indicator container */
.carousel-indicators {
    height: 3px;
    padding-top: 15px;
    padding-bottom: 50px;
}

/* Carousel indicator buttons */
.carousel-indicators [data-bs-target="#TFcarousel"] {
    border: 0px;
    width: 30px;
    height: 3px;
    background-color: orange;
}

/* Carousel indicator hover */
.carousel-indicators [data-bs-target]:hover {
    background-color: darkorange;
}

/* Carousel arrow icons: To change color, replace color name after 'fill' */
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='darkorange' viewBox='0 0 16 16'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='darkorange' viewBox='0 0 16 16'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

/* FOOTER */

footer {
    background-color: #2e1473;
}

/* Social media icons */
footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: whitesmoke;
    text-decoration: none;
}

.bi {
    font-size: 2rem;
    padding: 10px;
}
